/* site navigation bar */

.site-nav {
	padding: 40px 20px 40px 20px;
	text-align: center;
	background-color: lightblue;

}

.site-nav ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

.site-nav li {
	list-style: none;
	float: left;
	text-align: center;
}

.site-nav a {
	display: block;
	text-decoration: none;
	color: darkorange;
	padding: 10px 20px;

}

.site-nav a:hover {
	background-color: purple;

}


.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/* end of site navigation bar */





.container-raptor {
	max-width: 960px;
	margin-right: auto;
	margin-left:  auto;
    font-family: 'Anton', sans-serif;

}

.syn {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

.raptorvid-title {
	text-align: center;
}

.raptorvid {
	background-color: orange;
	padding: 25px;



}

.raptor-video-content {
	float: left;
	margin: 20px;
	
	
}

.raptor-video-content-words {
	padding: 30px;
	margin: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}

.raptorwant {
		background-color: #666;
		padding: 25px;
}

.raptorwant-title {
	text-align: center;
	color: orange;
}

.raptorwant-content {
	color: orange;
	text-align: center;
}

.raptorwant-img {
	
	margin-left: 150px;
}

.upgrade {
	background-color: orange;
	padding: 25px;
	text-align: center;


}

.upgrade-title {
	font-size: 2em;
}

.upgrade li {
	list-style: none;
	display: inline-block;
	padding: 5px;
	font-size: 1.5em;
	text-decoration: underline;
}

.exhuast {
		background-color: #666;
		padding: 25px;
		text-align: center;

}

.exhuast-title {
	font-weight: bold;
	font-size: 2em;
	
}

.exhuast-content {
	font-size: 120%;
}

/*MUSIC=======================================================*/
.music-footer {
	text-align: center;
	padding: 40px 20px 40px 20px;
}

/*WIZ=========================================*/

.music-container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgray;
	padding-left:  40px;
	padding-right:  40px;
	box-sizing: border-box;


}

.wiz-container {
	background-color: purple;
}

.wiz-head{
	text-align: center;
	font-size: 4em;
}

.wiz-container img {
	float: left;
	padding-right: 20px;
	padding-left: 20px; 
	overflow: hidden;

}

.wiz-container video {
	padding-left: 130px;
	padding-bottom: 18px;

}

.wiz-container .wiz-song-title {
	text-align: center;
	padding-top: 5px;
	font-size: 2em;
}

.wiz-container p {
	padding-right: 50px;
	padding-left: 50px;
	font-size: 140%;
}

/*Berner============================================*/

.berner-container {
	background-color: red;
}
.berner-head {
	text-align: center;
	padding-top: 15px;
	font-size: 4em;

}

.berner-container img {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	
}

.berner-container video {
	padding-left: 130px;
	padding-bottom: 18px;

}

.berner-container p {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 150%;
}

.berner-container h3 {
	text-align: center;
	padding-top: 10px;
	font-size: 2em;
}

/*Post=================================================================*/

.post-container {
	background-color: #666;
	color: orange;

}

.post-head {
	text-align: center;
	font-size: 4em;
}

.post-container img {
	float: left;
	margin: 15px;
}

.post-container p {
	padding-top: 120px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 150%
}

.post-song-title {
	text-align: center;
	padding-top: 90px;
	font-size: 2em;
}

.post-container video {
	padding-left: 120px;
	padding-bottom: 18px;
}




/*RESUME==================================================*/

.site-nav1 {
	background-color: #666;
	padding: 40px 20px 40px 20px;
	}

.site-nav1 ul {
	
	overflow: hidden;
	margin: 0px auto;
	text-align: center;


}

.site-nav1 li {
	list-style: none;
	float: left;


}
.site-nav1 a {
	text-decoration: none;
	text-align: center;
	padding: 10px 20px;
	display: inline-block;
	color: black;


	}

.site-nav1 a:hover {
	background-color: white;

}


.resume-container {
	background-color: lightgray;
	font-family: 'Lora', serif;
	max-width: 960px;
	margin-right: auto;
	margin-left:  auto;
}