/*CLEARFLOATS OF CHILDREN*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

/*CLEARFLOATS OF CHILDREN*/


/*RAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTOR*/
.raptor-body {
	background-color: lightgray;
}
.raptor-container {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Abril Fatface', sans-serif;
	background-color: darkorange;
}

.navbar-raptor {
	
	padding: 15px 5px 15px 5px;
	background-color: #4d4d4d;

}

.navbar-raptor ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar-raptor li {
	list-style: none;
	float: left;
	
	
}

.navbar-raptor a {
	text-decoration: none;
	color: darkorange;
	padding: 10px 20px;
	display: block;

}

.navbar-raptor a:hover {
	background-color: black;
}

.raptor-footer {
	background-color: #4d4d4d;
	padding: 30px;
	text-align: center;
	color: darkorange;
	

}


.raptor-container h1 {
	font-size: 2.5em;
	text-align: center;
	margin: -5px;
	padding: 0;
}

.raptor-container h2 {
	font-size: 1.8em;
	
}

.raptor-video {
	background-color: black;
	color: darkorange;
	padding-bottom: 30px;
	padding-top: 10px;
}

.raptor-video video {
	margin-left: 10px;
	float: left;
	margin-right: 20px;
	margin-top: 6px;
}

.raptor-video p {
	margin-right:  5px;
	margin-left:  5px;
}

.raptor-video h2 {
	margin-right:  5px;
	margin-left:  5px;
}

#raptor-title {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 1.8em
	
}

.raptor-want {
	
	padding: 70px;
	clear: both;

	
}
.raptor-want p {
	padding: 5px;
	text-align: center;
}

.raptor-want img {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	display: block;
}

.raptor-want h2 {
	text-align: center;
	margin-top: -30px;
}

.raptor-upgrade {
	background-color: black;
	color: darkorange;
	margin-top: -50px;

}

.raptor-upgrade h2 {
	text-align: center;
}

.raptor-upgrade ul {
	text-align: center;
	margin-right: 20px;
	padding-bottom: 10px;
}

.raptor-upgrade  li {
	list-style: none;
	display: inline;
	padding: 10px;
	text-decoration: underline;
}

.raptor-exhuast h3 {
	text-align: center;
	font-size: 1.6em;
}

.raptor-exhuast img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-exhuast p {
	margin-right: 25px;
	margin-left: 20px;
}

.raptor-intake {
	background-color: black;
	color: darkorange;
}

.raptor-intake h3 {
	font-size: 1.6em;
	text-align: center;
}

.raptor-intake img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-intake p {
	padding: 20px;
}

.raptor-intake ul {
	margin-right: 10px;
	margin-top: -20px;
	padding-bottom: 20px;
}

.raptor-led {
	background-color: darkorange;
}

.raptor-led h3 {
	text-align: center;
	font-size: 1.8em;
}

.raptor-led p {
	text-align: center;
	margin-bottom: 40px;
}

.raptor-led img {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.bumper-title {
	text-align: center;
	font-size: 1.6em;
	background-color: black;
	color: darkorange;
	padding: 30px;
}

.raptor-frontb h3 {
	text-align: center;
	font-size: 1.6em;
}

.raptor-frontb img {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.raptor-frontb p {
	padding: 20px;
	text-align: center;
}

.raptor-rearb {
	background-color: black;
	color: darkorange;
}

.raptor-rearb h3 {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 30px;
	font-size: 1.6em;
}

.raptor-rearb img {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-rearb p {
	padding: 20px;
	padding-bottom: 25px;
}

.raptor-brakes h3 {
	text-align: center;
	font-size: 1.8em;

}

.raptor-brakes img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-brakes p {
	padding: 20px;
	text-align: center;
}


@media screen and (min-width: 940px)
{
	.raptor-container p {
		font-size: 110%;
	}

}

@media screen and (max-width: 500px)
{
	.raptor-container p {
		font-size: 90%;
	}

}



/*RAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTOR*/

/*MUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSIC*/
.music-body {
	background-color: lightgray;
}

.music-container {
	font-family: 'Acme', sans-serif;
	max-width: 960px;
	margin: 0 auto;
	
}

.music-container h2 {
	padding-top: 15px;
}

.navbar-music {
	
	padding: 15px 5px 15px 5px;
	background-color: #4d4d4d;
	
}

.navbar-music ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar-music li {
	list-style: none;
	float: left;
	
	
}

.navbar-music a {
	text-decoration: none;
	color: #d9d9d9;
	padding: 10px 20px;
	display: block;

}

.navbar-music a:hover {
	background-color: orange;
}


.music-footer {
	background-color: #4d4d4d;
	padding: 15px 5px 15px 5px;
	text-align: center;
	color: #d9d9d9;
	margin-top: 40px;
	
}


.wiz-container {
	background-color: #4d4d4d

}

.wiz-container img {
	margin-left: 20px;
	margin-right: 20px;
	float: left;

}

.wiz-container p {
	padding: 20px;
	color: #d9d9d9;
}

.wiz-container video {
	margin-left: 160px;
	margin-bottom: 30px;
}

.music-container h1 {
	text-align: center;
	font-size: 2.5em;
	


}

.music-container h2 {
	text-align: center;
	font-size: 1.8em;
	color: #d9d9d9;

}

.music-container h3 {
	text-align: center;
	margin-bottom: -8px;
	font-size: 1.4em;
	color: #d9d9d9;

}

.berner-container {
	background-color: #4d4d4d;
}

.berner-container img {
	width: 50%;
	float: right;
	margin-right: 20px;
	margin-left: 20px;
}

.berner-container p {
	padding: 20px;
	color: #d9d9d9;

}

.berner-container h3 {
	padding-top: 30px;


}

.berner-container video {
	margin-left: 160px;
	margin-bottom: 30px;
}

.post-container {
	background-color: #4d4d4d;
}

.post-container img {
	width: 40%;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.post-container p {
	margin-right: 20px;
	color: #d9d9d9;

	
}

.post-container h3 {
	clear: both;
	padding: 30px;

}

.post-container video {
	margin-left: 160px;
	margin-bottom: 30px;
	margin-top: -30px;
}

@media screen and (min-width: 940px)
{
	.music-container p {
		font-size: 120%;
	}

}

@media screen and (max-width: 500px)
{
	.music-container p {
		font-size: 90%;
	}

}







/*MUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSIC*/




/*RESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUME*/

.resume-container {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Jaldi', sans-serif;
	background-color: lightgray;
}

.navbar-resume {
	
	padding: 15px 5px 15px 5px;
	background-color: lightblue;
	
}

.navbar-resume ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar-resume li {
	list-style: none;
	float: left;
	
	
}

.navbar-resume a {
	text-decoration: none;
	color: gray;
	padding: 10px 20px;
	display: block;

}

.navbar-resume a:hover {
	background-color: orange;
}

.resume-footer {
	background-color: lightblue;
	padding: 15px 5px 15px 5px;
	text-align: center;
	
}


@media screen and (min-width: 940px)
{
	.resume-container p,li {
		font-size: 120%;
	}

}

@media screen and (max-width: 500px)
{
	.resume-container p {
		font-size: 90%;
	}

}




/*RESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUME*/