/*CLEARFLOATS OF CHILDREN*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

/*CLEARFLOATS OF CHILDREN*/


/*RAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTOR*/
.raptor-body {
	background-color: lightgray;
	font-size: 110%;
}

.raptor-container {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Abril Fatface', sans-serif;
	background-color: darkorange;
}

.navbar-raptor {
	background-color: #4d4d4d;
	text-align: center;
}

.navbar-raptor ul {
	list-style-type: none;
	display: inline-block;
}

.navbar-raptor li {
	float: left;
	margin: 0;
}

.navbar-raptor a {
	text-decoration: none;
	color: darkorange;
	padding: 10px 20px;
	display: block;
	font-size: 140%;
}

.navbar-raptor a:hover {
	background-color: black;
}

.raptor-footer {
	background-color: #4d4d4d;
	padding: 30px;
	text-align: center;
	color: darkorange;
}


.raptor-container h1 {
	font-size: 2.5em;
	text-align: center;
	margin: -5px;
	padding: 0;
}

.raptor-container h2 {
	font-size: 1.8em;
}

.raptor-video {
	background-color: black;
	color: darkorange;
	padding-bottom: 1px;
	padding-top: 10px;
}

.raptor-video video {
	width: 60%;
	display: block;
	margin: 0 auto;
	float: left;
	padding: 10px;

}

.raptor-video p {
	margin-right:  5px;
	margin-left:  5px;
	margin-top: -10px;
}

.raptor-video h2 {
	margin-right:  5px;
	margin-left:  5px;
}

#raptor-title {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 1.8em;
}

.raptor-want {
	padding: 70px;
	clear: both;
	background-color: darkorange;
}

.raptor-want p {
	padding: 5px;
	text-align: center;
}

.raptor-want img {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	display: block;
}

.raptor-want h2 {
	text-align: center;
	margin-top: -30px;
}

.raptor-upgrade {
	background-color: black;
	color: darkorange;
	margin-top: -50px;
}

.raptor-upgrade h2 {
	text-align: center;
}

.raptor-upgrade ul {
	text-align: center;
	margin-right: 20px;
	padding-bottom: 10px;
}

.raptor-upgrade  li {
	list-style: none;
	display: inline;
	padding: 10px;
	text-decoration: underline;
}

.raptor-exhuast {
	background-color: darkorange;
}
.raptor-exhuast h3 {
	text-align: center;
	font-size: 1.6em;
}

.raptor-exhuast img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-exhuast p {
	margin-right: 25px;
	margin-left: 20px;
}

.raptor-intake {
	background-color: black;
	color: darkorange;
}

.raptor-intake h3 {
	font-size: 1.6em;
	text-align: center;
}

.raptor-intake img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-intake p {
	padding: 20px;
}

.raptor-intake ul {
	margin-right: 10px;
	margin-top: -20px;
	padding-bottom: 20px;
}

.raptor-intake li {
	font-size: 110%;
}

.raptor-led {
	background-color: darkorange;
}

.raptor-led h3 {
	text-align: center;
	font-size: 1.8em;
}

.raptor-led p {
	text-align: center;
	margin-bottom: 40px;
}

.raptor-led img {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.bumper-title {
	text-align: center;
	font-size: 1.6em;
	background-color: black;
	color: darkorange;
	padding: 30px;
}

.raptor-frontb {
	background-color: darkorange;
}

.raptor-frontb h3 {
	text-align: center;
	font-size: 1.6em;
}

.raptor-frontb img {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.raptor-frontb p {
	padding: 20px;
	text-align: center;
}

.raptor-rearb {
	background-color: black;
	color: darkorange;
}

.raptor-rearb h3 {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 30px;
	font-size: 1.6em;
}

.raptor-rearb img {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-rearb p {
	padding: 20px;
	padding-bottom: 25px;
}

.raptor-brakes {
	background-color: darkorange;
}

.raptor-brakes h3 {
	text-align: center;
	font-size: 1.8em;
}

.raptor-brakes img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.raptor-brakes p {
	padding: 20px;
	text-align: center;
}




@media screen and (max-width: 800px)
{

	.navbar-raptor ul li {
		width: 100%;
	}


	.raptor-container p {
		font-size: 120%;
	}

	.raptor-video video {
		float: none;
		width: 90%;
	}

	.raptor-want img {
		width: 110%;
		margin-left: auto;
		margin-right: auto;
	}

	.raptor-exhuast img {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.raptor-intake img {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.raptor-led img {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	.raptor-frontb img {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.raptor-rearb img {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.raptor-brakes img {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

}





/*RAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTORRAPTOR*/

/*MUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSIC*/
.music-body {
	background-color: lightgray;
}

.music-container {
	font-family: 'Acme', sans-serif;
	max-width: 960px;
	margin: 0 auto;
	font-size: 120%
}

.music-container h2 {
	padding-top: 15px;
}

.navbar-music {
	background-color: #4d4d4d;
	text-align: center;
	position: relative;
}

.navbar-music ul {
	list-style-type: none;
	display: inline-block;
}

.navbar-music ul li {
	float: left;
	margin: 0;
}

.navbar-music a {
	text-decoration: none;
	color: #d9d9d9;
	padding: 10px 20px;
	display: block;
	font-size: 140%;
}

.navbar-music a:hover {
	background-color: black;
}


.music-footer {
	background-color: #4d4d4d;
	padding: 30px;
	text-align: center;
	color: #d9d9d9;
	margin-top: 40px;
}


.wiz-container {
	background-color: #4d4d4d
}

.wiz-container img {
	width: 50%;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	margin-bottom: 5px;
}

.wiz-container h3 {
	padding: 30px;
}

.wiz-container p {
	padding: 20px;
	color: #d9d9d9;
}

.wiz-container video {
	width: 60%;
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}

.music-container h1 {
	text-align: center;
	font-size: 2.5em;
}

.music-container h2 {
	text-align: center;
	font-size: 2em;
	color: #d9d9d9;
}

.music-container h3 {
	text-align: center;
	margin-bottom: -8px;
	font-size: 1.4em;
	color: #d9d9d9;
}

.berner-container {
	background-color: #4d4d4d;
}

.berner-container img {
	width: 50%;
	float: right;
	margin-right: 20px;
	margin-left: 20px;
}

.berner-container p {
	padding: 20px;
	color: #d9d9d9;
}

.berner-container h3 {
	padding: 30px;
}

.berner-container video {
	width: 60%;
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}

.post-container {
	background-color: #4d4d4d;
}

.post-container img {
	width: 40%;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.post-container p {
	margin-right: 20px;
	color: #d9d9d9;
}

.post-container h3 {
	clear: both;
	padding: 30px;
}

.post-container video {
	width: 60%;
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;

}



@media screen and (max-width: 800px)
{
	.music-container  {
		font-size: 140%;
	}

	.navbar-music ul li {
		width: 100%;
	}

	.wiz-container video {
		width: 80%;
	}

	.berner-container video {
		width: 80%;
	}

	.post-container video {
		width: 80%;
	}

	.wiz-container img {
		float: none;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		padding: 10px;
		display: block;
	}

	.berner-container img {
		float: none;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		padding: 10px;
		display: block;
	}

	.post-container img {
		float: none;
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		padding: 10px;
		display: block;

	}

	.post-container p {
		margin-left: 20px;
	}

}







/*MUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSICMUSIC*/




/*RESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUME*/

.resume-container {
	max-width: 960px;
	height: 900px;
	margin: 0 auto;
	font-family: 'Jaldi', sans-serif;
	background-color: lightgray;
}

.navbar-resume {
	background-color: #4d4d4d;
	text-align: center;
}

.navbar-resume ul {
	list-style-type: none;
	display: inline-block;
}

.navbar-resume ul li {
	float: left;
	margin: 0;
}

.navbar-resume a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	display: block;
	font-size: 140%;
}

.navbar-resume a:hover {
	background-color: black;
}

.resume-footer {
	background-color: #4d4d4d;
	padding: 30px;
	text-align: center;
	color: white;
}

.resume-container h1 {
	text-align: center;
	font-size: 2.5em;
}

.resume-container h2 {
	text-align: center;
	font-size: 1.8em;
}

.resume-container h3 {
	font-size: 1.6em;
	margin-left: 20px;
	text-align: center;
	margin-bottom: -20px;
}

.resume-container p {
	text-align: center;
	font-size: 120%
}

.resume-container ul {
	text-align: center;
}

.resume-container li {
	list-style-type: none;
	font-size: 120%;
}

.underline li {
	text-decoration: underline;
}


@media screen and (max-width: 800px)
{
	.resume-container p {
		font-size: 140%;
	}

	li {
		font-size: 140%;
	}

	.navbar-resume ul li {
		width: 100%;
	}

}




/*RESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUMERESUME*/




/*GOOGLEMAPSGOOGLEMAPSGOOGLEMAPSGOOGLEMAPSGOOGLEMAPSGOOGLEMAPS*/


.navbar-googlemaps {
	background-color: #4d4d4d;
	text-align: center;
}

.navbar-googlemaps ul {
	list-style-type: none;
	display: inline-block;
}

.navbar-googlemaps ul li {
	float: left;
	margin: 0;
}

.navbar-googlemaps a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	display: block;
	font-size: 140%;
}

.navbar-googlemaps a:hover {
	background-color: black;
}

.googlemaps-footer {
	background-color: #4d4d4d;
	padding: 30px;
	text-align: center;
	color: white;
}

.map-title {
	text-align: center;
}









#map {
      height: 100%;
    }
   


#wrapper {
	max-width: 960px;
	height: 960px;
	background-color: orange;
	margin: 0 auto;
	overflow: hidden;
}

#canvas {
	width: 700px;
	height: 700px;
	background-color: lightblue;
	margin: 30px auto;
}






